# Auto detect text files and perform LF normalization
* text=auto

# Exclude CSS libs from liguist data
page/css/* linguist-vendored=false
page/css/style.css linguist-vendored=true

# Exclude JS libs from linguist data
page/js/* linguist-vendored=false
page/js/clean-duplicate.js linguist-vendored=true
page/js/clean-large.js linguist-vendored=true
page/js/credits.js linguist-vendored=true
page/js/dashboard.js linguist-vendored=true